.container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.card {
    background-color: #ffff;
    padding: 30px;
    max-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    text-align: center;
    letter-spacing: 0.5px;
    color: #1e3e59;
    text-shadow: 2px 2px 4px #d6d7d7;
}
.price_container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.price_container p {
    color: rgb(145, 145, 145);
}
.total_container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid ;
    padding-top: 20px;
}
.total_container p {
    font-weight: 600;
}
.validation_btn {
    margin-top: 40px;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(33,42,47);
    color: #ffff;
}