.container {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}

/* left div container*/
.left {
    flex: 1;
    display: flex;
    align-items: center;
}
.left .logo {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    /* color: #1e3e59; */
    text-shadow: 2px 2px 4px #d6d7d7;
}

/* center div container */
.center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.category {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: black;
}
.category:hover {
    color: #444040;
}

/* rignt div container */
.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu_item {
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    color: black;
}
.menu_item:hover {
    color: rgba(0,0,0,0.5);
    transform: scale(1.01);
}
.badge_container {
    font-size: 14px;
    cursor: pointer;
    margin-left: 15px;
}
.badge_container:hover {
    color: rgba(0,0,0,0.8);
    transform: scale(1.01);
}